.menu-design{
  width: 268px;
  height: 413px;
  background-color: black;
  clip-path: path('m 0,30 v 362 c 0,10 8,21 19,21 l 36,0 c 25,0 27,-12 29,-26 2,-13 2,-23 13,-37 11,-10.5 24,-17.5 48.5,-21 24,-3 70.5,19 93,15.5 23,-3 29,-15 29,-36 V 26 c 0,-12 -5,-17 -16,-18 C 240,8 204,6.5 199.5,6.5 c -7,0 -9,-7 -9,-7 0,0 -4,18 -16,19.5 H 22.5 C 15,19 12.5,4 11.5,4 c -1,-0.5 -5,2 -7,4 -2,2 -4,5.5 -4,11 v 11.5 z');
}

.div-background{
  width: 500px;
  height: 500px;
  background-color: red;
}
