<nav class="menu-bs__nav" aria-label="Navegación lateral">
  <div class="menu-design">
    <ul role="list">
      <li><button mat-button type="button" disabled>Inicio</button></li>
      <li><button mat-button type="button" disabled>Sobre mí</button></li>
      <li><button mat-button type="button" disabled>Proyectos</button></li>
      <li><button mat-button type="button" disabled>Contacto</button></li>
    </ul>
  </div>
  <div class="item-top-1"></div>
  <div class="item-top-2"></div>
  <div class="item-1"></div>
  <div class="item-2"></div>
  <div class="item-3"></div>
</nav>
